<div class="row ms-3">
  <div class="col-6">
    <h4>You:</h4>
    <p><%= params[:question]%></p>

    <h4>Your Coach:</h4>
    <p><%= @question %></p>

    <%= link_to "Ask another question...", ask_path %>
  </div>
</div>
